header {
    max-width: 375px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 20px;
}

header::before {
    content: url("../assets/images/pattern-rings.svg");
    position: absolute;
    top: 124px;
    right: 187px;
}
header::after {
    content: url("../assets/images/pattern-circle.svg");
    position: absolute;
    top: 254px;
    left: 311px;
}

.header-title {
    font-size: var(--heading-m);
}

.contact__social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact__image {
    min-height: 300px;
    width: 175px;
    position: relative;
}

.contact__image img {
    position: absolute;
    width: 100%;
    top: -100px;
}